@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' ;
}
body {
    background-image: url(../assets/imgs/fundo.png);
    background-size: cover;
    
    width: 100%;
    height:100%;

}
.header{
    width: 100%;
    height: 20vh;


}
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 20vh;

    background-image: url(../assets/imgs/OndaRoxa.png);
    background-size: cover;

    
}
.logoEmpresa { 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 80%;
    
    margin-right: 5%;

    
}
.logoNavbar {
    width: 30%;
    height: 100%;

   

}
.logoNavbar img{
    width: 100%;
    height: 100%;

}

 .nomeEmpresa {
    width: 60%;
    height: 50%;
 
}

.nomeEmpresa div{
    width: 100%;
    height: 100%;

    color: whitesmoke;
    font-size: 5vh;


}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;

    width: 50%;
    height: 50%;

    margin-left: 13vw;


}
.navbar li {
    color: whitesmoke;
}
.navbar li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 3vh;
}

.cadastrar { 

    text-align: center;

    width: 8vw;
    padding: 2px;

    background-color: blueviolet;
    border-radius: 5px;

    
    
}
.cadastrar a {
    color: whitesmoke;
    text-decoration: none;

    font-size: 3vh;
}

.telaInicial{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 120vh;



}

.ondaAzulTelaInicial{
    width: 100%;
    height: 100vh;


   background-image: url(../assets/imgs/ondaAzulParaCima.png);
   background-size: cover;
}

.telaInicial .textoEBarquinho {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 50%;

}

.telaInicial .textoTelaInicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 50%;
    height: 100%;

   
}

 .TituloTelaInicial {
    color: whitesmoke;
    font-size: 7vh;
}
 .texto{
    width: 90%;
    height: 50%;
    text-align: center;

    color: whitesmoke;
    font-size: 3vh;

}

.barquinhoTelaInicial img {
    position: relative;
    top: 10vh;
    right: 7vw;

    width: 25vw;
    height: 50vh;


}
.ondaAzulParaBaixo{
    background-image: url(../assets/imgs/ondaAzulParaBaixo.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.caracteristicasEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80vh;

}
.caracteristicas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 80%;

}
.missao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 40%;
    height: 100%;

}


.missao img{
    width: 50%;
    height: 40%;
}
.tituloMissao{
    color: whitesmoke;
    font-size: 10vh;
}
.textoMissao {
    color: whitesmoke;
    font-size: 3vh;
}



.visao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 40%;
    height: 100%;

}
.visao img{
    width: 50%;
    height: 40%;
}
.tituloVisao{
    color: whitesmoke;
    font-size: 10vh;
}
.textoVisao {
    color: whitesmoke;
    font-size: 3vh;
}


.valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    width: 40%;
    height: 100%;

}
.valores img{
    width: 50%;
    height: 40%;
}
.tituloValores{
    color: whitesmoke;
    font-size: 10vh;
}
.textoValores {
    color: whitesmoke;
    font-size: 3vh;
}


.ondaRoxaValores {

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 20vh;

    background-image: url(../assets/imgs/OndaRoxaParaCima.png);
    background-size: cover;

    
}

/* Footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

.alinharCards{
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.ondaRoxa {

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 20vh;

    background-image: url(../assets/imgs/OndaRoxa.png);
    background-size: cover;

    
}
.containerCards{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.containerCards .card{
    position: relative;
    width: 25vw;
    height: max(55vh,33vw);
    margin: 30px;
}
.containerCards .card .box img{
    width: 100%;
}
.containerCards .card .box{
    background: #ebf5fc;
    border-radius: 5%;
    transition: 0.5s;
    padding: 5%;
}

.containerCards .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10 40px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #1F1D36,#4f29cd);
}



.containerCards .card .box .conteudo{
    padding: 7%;
    text-align: center;
}


.containerCards .card .box .conteudo h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.05);
    transition: 0.5s;
    pointer-events: none;
   
 
}

.containerCards .card:hover .box .conteudo h2{
    color: rgba(0, 0, 0, 0.05);
}

.containerCards .card .box .conteudo h3{

    /* Vai analisar entre o 10px e o 2vw, e ficar o o maior valor */
    font-size: max(10px, 2vw);
    color: #000;
    display: flex;
    flex-direction: column;
    transition: 0.5s;

}

.containerCards .card:hover .box .conteudo h3{
    color: #fff;
}
.containerCards .card:hover .box .conteudo p{
    color: #fff;
        
} 

.containerCards .card .box .conteudo p{

    font-size: min(15px, 2vw);
    font-weight: 300;
    color: #000;
    z-index: 1;
    transform: 0.5s;
}

.containerCards .card .box .conteudo a{
    position: relative;
    display: inline-block;
    padding: 4% 10%;
    background-color: #0E185F;
    border-radius: 20px;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    font-size: min(15px, 3vw);    
}

.containerCards .card:hover .box .conteudo a{
    background: blueviolet;
}

.block{
    background-color: black;
}

.contato{
    margin-left: 5%;
}

.imagensFooter {
  display: flex;
  height: 8vh;
  width: 15vw;
  justify-content:space-between;
}

.imagensFooter h2{
    color: #fff;
}


.contatoarea{
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contatoinfo{
    color:#fff;
    max-width: 500px;
    line-height: 55px;
    font-size: min(17px, 2vw);
    padding-left: 13%;
    margin-left: 6%;

}
.contatoinfo i {
    margin-right: 20px;
    font-size: 20px;
}

.contato-form{
    max-width: 700px;
    margin-right: 50px;
}

.contatoinfo, .contato-form{
    flex: 1;
}

.contato-form h2{
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
    padding-right: 100%;
}


.contato-form .texto:first-child{
    margin-right: 15px;
}

.ondaAzulFooter{
     position: relative;
     top: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 12vh;

    background-image: url(../assets/imgs/ondaAzulParaCima.png);
    background-size: cover;

    
}













/*CARROSEL*/
#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }
 #slides .slide_1 {
    background: #00171F;
 }
 #slides .slide_2 {
    background: #003459;
 }
 #slides .slide_3 {
    background: #007EA7;
 }
 #slides .slide_4 {
    background: #00A8E8;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }