*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(fundo.png);
    background-size: contain;
    
    width: 100%;
    height:100%;

}
.header{
    width: 100%;
    height: 20vh;


}
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 20vh;

    background-image: url(OndaRoxa.png);
    background-size: cover;

    
}
.logoEmpresa { 
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 80%;
    
    margin-right: 5%;

    
}
.logoNavbar {
    width: 30%;
    height: 100%;

   

}
.logoNavbar img{
    width: 100%;
    height: 100%;

}

 .nomeEmpresa {
    width: 60%;
    height: 50%;
    
    
   
}
.nomeEmpresa div{
    width: 100%;
    height: 100%;

    color: whitesmoke;
    font-size: 5vh;


}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;

    width: 50%;
    height: 50%;

    margin-left: 13vw;


}
.navbar li {
    color: whitesmoke;
}
.navbar li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 3vh;
}

.cadastrar { 

    text-align: center;

    width: 8vw;
    padding: 2px;

    background-color: blueviolet;
    border-radius: 5px;

    
    
}
.cadastrar a {
    color: whitesmoke;
    text-decoration: none;

    font-size: 3vh;
}

.telaInicial{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 120vh;



}

.ondaAzulTelaInicial{
    width: 100%;
    height: 100vh;


   background-image: url(ondaAzulParaCima.png);
   background-size: cover;
}

.telaInicial .textoEBarquinho {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 50%;

}

.telaInicial .textoTelaInicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

   
}

 .TituloTelaInicial {
    color: whitesmoke;
    font-size: 7vh;
}
 .texto{
    width: 90%;
    height: 50%;

    color: whitesmoke;
    font-size: 2.5vh;

}

.barquinhoTelaInicial img {
    position: relative;
    top: 10vh;
    right: 7vw;

    width: 25vw;
    height: 50vh;


}
.ondaAzulParaBaixo{
    background-image: url(ondaAzulParaBaixo.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.caracteristicasEmpresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80vh;

}
.caracteristicas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 80%;

}
.missao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100%;

}


.missao img{
    width: 50%;
    height: 40%;
}
.tituloMissao{
    color: whitesmoke;
    font-size: 10vh;
}
.textoMissao {
    color: whitesmoke;
    font-size: 3vh;
}



.visao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100%;

}
.visao img{
    width: 50%;
    height: 40%;
}
.tituloVisao{
    color: whitesmoke;
    font-size: 10vh;
}
.textoVisao {
    color: whitesmoke;
    font-size: 3vh;
}


.valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100%;

}
.valores img{
    width: 50%;
    height: 40%;
}
.tituloValores{
    color: whitesmoke;
    font-size: 10vh;
}
.textoValores {
    color: whitesmoke;
    font-size: 3vh;
}

